@import "reset.css";
@import "constant.css";
/* 그린뉴맵 타이틀 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); 
/* 설명 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/* 넓이 1200px 에서 바뀌도록 */
.top_menu_bar {
  height: fit-content;
  background-color: var(--topMenuBar_background);
}

.top_menu_bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 70px;
}

.top_menu_bar ul img {
  width: 180px;
  height: 130px;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 50px;
}

#title h1 {
  color: var(--topMenuBar_title);
  font-weight: bold;
  font-size: 60px;
  font-family: 'Jua', sans-serif;
}

#area a,
#company a,
#industry a {
  font-size: 33px;
  text-decoration: none;
  color: white;
  font-family: 'Nanum', sans-serif;
}

#area a:hover,
#company a:hover,
#industry a:hover {
  border-bottom: 10px solid rgba(255, 255, 255, 0.8);
}
