/* 경로앞에 /붙이기~!  */
@import "/css/constant.css";
/* 설명 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }
    
text {
  pointer-events: none;
}
.grandparent text {
  font-weight: bold;
}
rect {
  fill: none;
  stroke: #fff;
}
rect.parent,
.grandparent rect {
  stroke-width: 2px;
}
.grandparent rect {
    fill: #F1F7ED;
 background-color: var(--sideMenuBar_main_sector);
 font-weight: bolder;
 padding: 5%;
 
 font-size: 25px;
}
.grandparent:hover rect {
  fill: #b7f57d;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}
.children rect.parent {
  fill: #bbb;
  fill-opacity: 0.5;
}
.children:hover rect.child {
  fill: #bbb;
}

text {
    font-family: 'Nanum', sans-serif;
}
